@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav div img{
    width: 50px;
}

.judul{
    text-decoration: none;
    display: flex;
    padding: 8px 0;
    margin-right: 45rem;
    color: #534f4f;
    border-bottom: 1px solid rgba(216, 112, 147, 0.014);
}

nav ul li a{
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(216, 112, 147, 0.014);
}

nav ul li a:hover{
    color: rgb(197, 235, 238);
    border-bottom: 1px solid rgb(197, 235, 238);
}

.smk{
    text-decoration: none;
    color: #534f4f;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    color: rgb(41, 39, 40);
}

h2{
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(17, 69, 112);
    width: 100%;
    line-height: 50px;
}

.candi{
    padding: 30px;
    margin-top: -5px;
}


/****/

h3{
    margin: 8px;
    padding: 8px 0;
    font-weight: 600;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 15px;
}

.kolom{
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.kolom p{
    padding: 8px;
}

.hipo{
    font-weight: 600;
    margin-top: 6%;
}

.candi{
    text-align: justify;
}

a{
    text-decoration: none;
    color: rgb(4, 22, 39);
}

.teori__cui{
    background-color: rgb(200, 200, 231);
}

.bukti__cui{
    background-color: #8aa2a5;
}

.candi p{
    padding: 8px;
}

.kritik{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 15px;
}

.kritik__eui{
    margin-top: 8px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-left: 15px;
}

.kritik__eui p{
    padding: 8px;
}

.judul__kritik{
    text-align: center;
    color: #534f4f;
    margin-top: 50px;
}

.judul__dua{
    text-align: center;
    color: rgb(81, 90, 119);
    margin-bottom: 50px;
}

.about{
    text-align: center;
    color: #534f4f;
    margin-top: 50px;
}

.xpplg{
    border-radius: 100%;
}

footer{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

footer{
    background-color: #534f4f;
    padding-top: 50px;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.list a:hover{
    padding: 0;
    color: white;
}

.list{
    color: white;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: rgb(127, 127, 167);
    transition-duration: .8s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons li{
    color: white;
    font-size: 25px;
}

.a{
    text-decoration: none;
    color: white;
}

.a:hover{
    color: #8aa2a5;
}

.social-icons img{
    color: #ffffff;
}

.bottom-bar{
    background: #2f2f30;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #fffafa;
    margin: 0;
    padding: 7px;
}

.ig{
    text-decoration: none;
    padding-right: 40px;
}

#ppp{
    color: #ffffff;
}
